<h1 [ngStyle]="{'font-size': '3em', 'color': '#333', 'font-weight': 'bold', 'text-align': 'center', 'text-transform': 'uppercase', 'letter-spacing': '0.05em', 'margin-top': '50px'}">
  Galeria de vuelo
</h1>



<div class="row" data-masonry='{"percentPosition": true }' style="position: relative; height: 772.4px;">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <img src="../../assets/img/av1.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Los mejores vuelos</h5>
          <p class="card-text">Los vuelos mas agradables siempre llegan mas lejos.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 33.3333%; top: 0px;">
      <div class="card p-3">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p>Siempre pensamos en los mejores vuelos.</p>
          </blockquote>
          <figcaption class="blo  ckquote-footer mb-0 text-body-secondary">
            -BlueFlights 
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 66.6667%; top: 0px;">
      <div class="card">
        <img src="../../assets/img/av2.jpg" alt="">       
         <div class="card-body">
          <h5 class="card-title">Aeropuertos de calidad</h5>
          <p class="card-text">Nos aseguramos de contar con los mejores aeropuertos.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 33.3333%; top: 200.6px;">
      <div class="card text-bg-primary text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>Siempre Puedes contar con nosotros.</p>
          </blockquote>
          
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 33.3333%; top: 369.2px;">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Nunca olvides de donde vienes</h5>
          <p class="card-text">Siempre mira hacia atras</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 66.6667%; top: 401.6px;">
      <div class="card">
        <img src="../../assets/img/av3.jpg" alt="">      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 409.6px;">
      <div class="card p-3 text-end">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>"El vuelo no solo se trata de llegar a un destino, sino también de disfrutar del camino"</p>
          </blockquote>
          
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <img src="../../assets/img/av4.jpg" alt="">        <div class="card-body">
          <h5 class="card-title">Te llevamos a donde sueñes</h5>
          <p class="card-text">Cada vez que vuelas, estás un paso más cerca de tus sueños y metas.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <img src="../../assets/img/av5.jpg" alt="">        <div class="card-body">
          <h5 class="card-title">Explorando lo desconocido</h5>
          <p class="card-text">El cielo es el límite, y volar en avión te permite explorar nuevas alturas.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 409.6px;">
      <div class="card p-3 text-end">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>Volar en avión te da una sensación de libertad que no se puede encontrar en ningún otro lugar.</p>
          </blockquote>
          
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <img src="../../assets/img/av6.jpg" alt="">        <div class="card-body">
          <h5 class="card-title">No te quedes en tierra firme</h5>
          <p class="card-text">Volar te permite dejar atrás lo que te detiene y te lleva hacia lo que quieres alcanzar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <img src="../../assets/img/av7.jpg" alt="">        <div class="card-body">
          <h5 class="card-title">Sigue soñando</h5>
          <p class="card-text">La sensación de volar te recuerda que no hay nada imposible si te atreves a soñar en grande.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <img src="../../assets/img/av8.jpg" alt="">        <div class="card-body">
          <h5 class="card-title">Los viajes mas comodos</h5>
          <p class="card-text">Al volar, puedes dejar atrás el estrés y las preocupaciones diarias y encontrar una perspectiva renovada.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <img src="../../assets/img/av9.jpg" alt="">        <div class="card-body">
          <h5 class="card-title">Busca tu mejor vuelo</h5>
          <p class="card-text">El avión es una máquina que nos permite desafiar la gravedad y superar los límites de lo que creíamos posible.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <img src="../../assets/img/av10.jpg" alt="">        <div class="card-body">
          <h5 class="card-title">Nunca se deja de aprender</h5>
          <p class="card-text">Cada vuelo es una oportunidad para aprender, crecer y descubrir cosas nuevas.</p>
        </div>
      </div>
    </div>
    
    </div>
    <br>

   