<nav class="navbar bg-primary navbar-expand-lg navbar-dark " data-bs-theme="dark">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/logo.png" alt="" style="width: 60px; height:60px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reserva">Reservar Vuelos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/acercavuelos">Acerca de los Vuelos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/acercaempresa">Acerca de la empresa</a>
        </li>
      </ul>
    </div>
    <form class="d-flex ">
      <input class="form-control me-2 b" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success " type="submit">Search</button>
    </form>
  </nav>


  