<h1 class="display-4">Esto es un proyecto escolar</h1>
<h2 class="display-5 mb-4">Autores</h2>

<mat-divider></mat-divider>
  <br>
<div class="container">
    <div class="row">
      <div class="col-md-3 d-flex flex-column align-items-center autor">
        <img src="../../assets/img/autor1.png" alt="Autor 1" class="img-fluid rounded-circle mb-3">
        <h4>Jesus Alberto Romo Mendez</h4>
      </div>
      <div class="col-md-3 d-flex flex-column align-items-center autor">
        <img src="../../assets/img/autor2.jpg" alt="Autor 2" class="img-fluid rounded-circle mb-3">
        <h4>Jesus Eduardo Tapia Avalos</h4>
      </div>
      <div class="col-md-3 d-flex flex-column align-items-center autor">
        <img src="../../assets/img/autor3.jpg" alt="Autor 3" class="img-fluid rounded-circle mb-3">
        <h4>Eduardo De Jesus Cruz Ramos</h4>
      </div>
      <div class="col-md-3 d-flex flex-column align-items-center autor">
        <img src="../../assets/img/autor4.jpg" alt="Autor 4" class="img-fluid rounded-circle mb-3">
        <h4>Juan Miguel Casillas Romo</h4>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <br>


  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <h3 class="text-center mb-4 tit"> Reseñas  </h3>
        
        <table class="table table-hover table-dark table-striped">
          <thead>
            <tr>
              
              
            </tr>
          </thead>
        
          <tbody *ngFor="let persona of data.data">
            <tr class="table-light">
              <td> <img [src]="persona.avatar" alt="" width="45%" /> </td>
              <td>
                <tr>{{persona.email}}</tr>
                <tr>{{persona.first_name}} {{persona.last_name}}</tr></td>
              <td>"Fue un viaje excelente"</td>
              
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
